.academics{
    width: 100%;
    margin: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0rem 2rem;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.facilities {
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: var(--font-family);
}

.facilities-col {
    flex-basis: 31%;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
}

.academics_heading{
    padding-top: 35px;
        padding-bottom: 26.25px;
        font-size: 3.5rem;
        line-height: 1.59375;
        font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.academics_info{
    font-weight: 100;
        font-size: 1.6em;
        line-height: 1.9;
        letter-spacing: 2px;
        width: 800px;
        margin: auto;
}

.facilities-col p {
    padding-bottom: 20px;
}

.facilities-col a{
    color: blue;
}

.facilities-col a:hover{
    text-decoration: underline;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.about_text_button button {
    padding: 1rem 4rem;
    color: #fff;
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

.about_schools{
    display: flex;
    flex-direction: column;
    padding: 20px 0px 50px 0px;
    gap: 20px;
}

.about_school_heading{
    font-size: 1.2rem;
    font-weight: 800;
}

.about_school_buttons button{
    border: none;
    display: inline-block;
    font-size: 1.3rem;
    background-color: transparent;
    color: blue;
    padding: 10px 20px;
    border-right: 2px solid black;
    cursor: pointer;
}

.about_school_buttons button::after{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    background-color: blue;
}

.about_school_buttons button:hover::after{
    width: 100%;
    transition: 0.5s;
}

@media screen and (max-width: 850px) {
    .row {
        flex-direction: column;
        width: 100%;
        margin: auto;
    }

    .academics_info{
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 550px) {
    .row {
        flex-direction: column;
    }

    .about_school_buttons{
        display: flex;
        flex-direction: column;
    }

    .about_school_buttons button{
        border-right: none;
    }
}